.content_wrapper {
    background-color: cornflowerblue;
    width: 100%;
    height: 100%;
    grid-area: c;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.newsArticleWrapper{
    word-wrap: break-word;
    height: 100%;
    width: 100%;
}