.header {
    grid-area: h;
    background-color: cornflowerblue;
    height: 100%;
    width: 100%;
}

.logo_wrapper {
    margin-top: 5px;
    height: 85px;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

h1 {
    font-size: 20px;
}

.logo_img {
    height: 38px;
    width: 40px;
    border-radius: 50%;
}

@media (max-width: 783px) {
    .logo_img {
        height: 30px;
        width: 30px;
        border-radius: 50%;
    }

    h1 {
        font-size: 15px;
    }
}

@media (max-width: 382px) {
    h1 {
        font-size: 10px;
    }
    .logo_img {
        height: 30px;
        width: 30px;
        border-radius: 50%;
    }
}
