.header {
    grid-area: h;
    background-color: darkgray;
    height: 100%;
    width: 100%;
}

.logo_wrapper {
    margin-top: 5px;
    height: 85px;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

h1 {
    font-size: 20px;
}

.logo_img {
    height: 38px;
    width: 40px;
    border-radius: 50%;
}