html, body {
    height: 100%;
    width: 100%;
}

.app-wrapper {
    display: grid;
    grid-template-areas: "h h"
                         "n c";
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 20% 80%;
    grid-gap: 3px;
}